<div class="container">
    <div class="row">
        <div class="col12"><h4>Add Recipe</h4></div>
    </div>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col3">Name: </div>
            <div class="col9"><input type="text" formControlName="name"/></div>
        </div>
        <div class="row">
            <div class="col3">Description: </div>
            <div class="col9"><input type="text" formControlName="description"/></div>
        </div>
        <button type="submit" [disabled]="!recipeForm.valid">Submit</button>
    </form>
</div>